window {
	background: rgba(255,255,150,0.00);

}

.clock-box {
  padding: 20px 40px;
}

.clock-time {
  font-size: 30px;
  margin-bottom: -20px;
  color: #ffffcf;
}

.clock-date {
  font-size: 12px;
  color: #ffffee;
  font-family: "JetBrainsMono NFM", sans-serif;
  margin-bottom: -25px;
}
